@import "tailwindcss";

@theme {
  --color-primary: #FFD1DC;
  --color-secondary: #E0F2F1;
  --color-accent: #D4AF37;
  --color-text: #4E342E;

  --font-sans: 'Inter', sans-serif;
  --font-cursive: 'Dancing Script', cursive;
}

html {
  scroll-behavior: smooth;
}